In [2]:
import pandas as pd

In [3]:
sample_df = pd.read_csv('sample2.csv',encoding='utf-8')

In [4]:
sample_df

     Unnamed: 0             가게명        별점  리뷰자 평균 평점  리뷰수
0             0          18번완당집  3.383562   3.463014   73
1             1       303화덕 동래점  3.411765   3.600000   17
2             2            3파운드  3.533333   3.840000   15
3             3   EU피자&파스타 서면본점  3.111111   3.477778   18
4             4     FM커피하우스 1호점  4.416667   3.865278   72
..          ...             ...       ...        ...  ...
471         471              흑송  3.440000   3.530000   50
472         472            희망통닭  2.882353   3.344118   34
473         473            희와제과  3.580645   3.675269   93
474         474             희자매  2.750000   3.825000   12
475         475  히어로플레이파크 부산명지점  4.652174   4.705435   92

[476 rows x 5 columns]